<!DOCTYPE html>
<head>
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>
        <a href=<%= href %>>
          <img src=<%= imgSrc %>>
        </a>
      </td>
    </tr>
    </a>
  </table>
  <script src="./mailBody.js"></script>
</body>
</html>